@model StructuralDesign.Web.ViewModels.Projects.ProjectsListViewModel

@{ 
    this.ViewData["Title"] = "Projects of " + User.Identity.Name; 
}

<div id="backgroundMask" class="col-8">
    <h3 class="text-center">@this.ViewData["Title"]</h3>

    <hr />
    <div>
        <a asp-controller="Project" asp-action="Create" class="btn btn-primary btn-block">Create Project</a>
    </div>
    <hr />
    <div class="row"></div>
    <h4>List of your projects:</h4>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th class="col-6">Description</th>
                <th>CountOfElements</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.Location</td>
                    <td class="col-6">@project.PartialDescription</td>
                    <td>@project.NumberOfElements</td>
                    <td>
                        <a asp-action="Details" class="btn btn-secondary btn-sm float-right" asp-route-id="@project.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center align-bottom">
            <li class="page-item @if(!Model.HasPreviousPage) { <text>disabled</text> }">
                <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Previous</a>
            </li>
            @if (Model.PreviousPageNumber > 0)
            {
<li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">@Model.PreviousPageNumber</a></li>
}
            <li class="page-item"><a class="page-link active bg-info text-white" asp-route-id="@Model.PageNumber">@Model.PageNumber</a></li>
            @if (Model.NextPageNumber <= Model.PagesCount)
            {
<li class="page-item"><a class="page-link" ` asp-action="All" asp-route-id="@Model.NextPageNumber">@Model.NextPageNumber</a></li>
}
            <li class="page-item @if(!Model.HasNextPage) { <text>disabled</text> }">
                <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Next</a>
            </li>
        </ul>
    </nav>
</div>
