@model StructuralDesign.Web.ViewModels.Projects.DetailsViewModel
@{ this.ViewData["Title"] = Model.Name; }

<div id="backgroundMask" class="col-8">
    <div class="row">
        <div class="col-10">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="col-2 float-md-right">
            <form asp-action="Delete" asp-route-id="@Model.Id" id="deleteForm"></form>
            <button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#deleteModel">
                Delete
            </button>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-3">
            <img src="@Model.ProjectAvatarUrl" width="200" class="mr-3 img-responsive">
        </div>
        <div class="col-9">
            @Model.Description
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-4">
            @foreach (var foundament in Model.Foundations)
            {
                <div class="row">
                    <div class="col-9">
                        @foundament.Name - Section: @foundament.SectionName - Result: @foundament.Checking
                    </div>
                    <div>
                        <a asp-controller="Foundation" asp-action="Edit" asp-route-id="@foundament.Id">
                            <i class="fas fa-edit fa-fw" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                        </a>
                    </div>
                    <div>
                        <a asp-controller="Foundation" asp-action="Result" asp-route-id="@foundament.Id">
                            <i class="fas fa-poll fa-fw" data-toggle="tooltip" data-placement="top" title="Result"></i>
                        </a>
                    </div>
                    <div>
                        <a asp-controller="Foundation" asp-action="Delete" asp-route-id="@foundament.Id">
                            <i class="fas fa-trash fa-fw" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                        </a>
                    </div>
                </div>
            }
            <a class="btn btn-primary" asp-controller="Foundation" asp-action="Create" asp-route-id="@Model.Id">Add Foundation</a>
        </div>
        <div class="col-4">
            @foreach (var elementConcrete in Model.ConcreteElements)
            {
                <div class="row">
                    <div class="col-9">
                        @elementConcrete.Name - Section: @elementConcrete.SectionId
                    </div>
                    <div>
                        <a asp-controller="ElementConcrete" asp-action="Edit" asp-route-id="@elementConcrete.Id">
                            <i class="fas fa-edit fa-fw" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                        </a>
                    </div>
                    <div>
                        <a asp-controller="ElementConcrete" asp-action="Result" asp-route-id="@elementConcrete.Id">
                            <i class="fas fa-poll fa-fw" data-toggle="tooltip" data-placement="top" title="Result"></i>
                        </a>
                    </div>
                    <div>
                        <a asp-controller="ElementConcrete" asp-action="Delete" asp-route-id="@elementConcrete.Id">
                            <i class="fas fa-trash fa-fw" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                        </a>
                    </div>
                </div>}
            <a class="btn btn-primary" asp-controller="ElementConcrete" asp-action="Create" asp-route-id="@Model.Id">Add Concrete Element</a>
        </div>
        <div class="col-4">
            @foreach (var elementSteel in Model.SteelElements)
            {
                <div class="row">
                    <div class="col-9">
                        @elementSteel.Name - Section: @elementSteel.SectionId
                    </div>
                    <div>
                        <a asp-controller="ElementSteel" asp-action="Edit" asp-route-id="@elementSteel.Id">
                            <i class="fas fa-edit fa-fw" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                        </a>
                    </div>
                    <div>
                        <a asp-controller="ElementSteel" asp-action="Result" asp-route-id="@elementSteel.Id">
                            <i class="fas fa-poll fa-fw" data-toggle="tooltip" data-placement="top" title="Result"></i>
                        </a>
                    </div>
                    <div>
                        <a asp-controller="ElementSteel" asp-action="Delete" asp-route-id="@elementSteel.Id">
                            <i class="fas fa-trash fa-fw" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                        </a>
                    </div>
                </div>}
            <a class="btn btn-primary" asp-controller="ElementSteel" asp-action="Create" asp-route-id="@Model.Id">Add Steel Element</a>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete @Model.Name?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No!</button>
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes!</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
