@model StructuralDesign.Web.ViewModels.Projects.DetailsViewModel
@{ this.ViewData["Title"] = Model.Name; }

<div class="row">
    <div class="col-10">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-2 float-md-right">
        <a asp-action="Delete" class="btn btn-danger btn-sm float-right" asp-route-id="@Model.Id">
            <i class = "fas fa-trash fa-fw"  data-toggle="tooltip" data-placement="top" title="Delete"></i>
        Delete</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-3">
        <img src="@Model.ProjectAvatarUrl" width="200" class="mr-3 img-responsive">
    </div>
    <div class="col-9">
        @Model.Description
    </div>
</div>

<hr />

<div class="row">
    <div class="col-4">
        @foreach (var foundament in Model.Foundations)
         {
             <div class="row">
                 <div class="col-9">
                     @foundament.Name - Section: @foundament.SectionName - Result: @foundament.Checking
                 </div>
                 <div>
                     <a asp-controller="Foundation" asp-action="Edit" asp-route-id="@foundament.Id">
                         <i class="fas fa-edit fa-fw" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                     </a>
                 </div>
                 <div>
                     <a asp-controller="Foundation" asp-action="Result" asp-route-id="@foundament.Id">
                         <i class="fas fa-poll fa-fw" data-toggle="tooltip" data-placement="top" title="Result"></i>
                     </a>
                 </div>
                 <div>
                     <a asp-controller="Foundation" asp-action="Delete" asp-route-id="@foundament.Id">
                         <i class="fas fa-trash fa-fw" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                     </a>
                 </div>
             </div>
         }
        <a class="btn btn-primary" asp-controller="Foundation" asp-action="Create" asp-route-id="@Model.Id">Add Foundation</a>
    </div>
    <div class="col-4">
        @foreach (var elementConcrete in Model.ConcreteElements)
        {
            <div class="row">
                <div class="col-9">
                    @elementConcrete.Name - Section: @elementConcrete.SectionId - Result:
                </div>
                <div>
                    <a asp-controller="ElementConcrete" asp-action="Edit" asp-route-id="@elementConcrete.Id">
                        <i class="fas fa-edit fa-fw" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                    </a>
                </div>
                <div>
                    <a asp-controller="ElementConcrete" asp-action="Result" asp-route-id="@elementConcrete.Id">
                        <i class="fas fa-poll fa-fw" data-toggle="tooltip" data-placement="top" title="Result"></i>
                    </a>
                </div>
                <div>
                    <a asp-controller="ElementConcrete" asp-action="Delete" asp-route-id="@elementConcrete.Id">
                        <i class="fas fa-trash fa-fw" data-toggle="tooltip" data-placement="top" title="Result"></i>
                    </a>
                </div>
            </div>}
        <a class="btn btn-primary" asp-controller="ElementConcrete" asp-action="Create" asp-route-id="@Model.Id">Add Concrete Element</a>
    </div>
    <div class="col-4">
        @foreach (var foundament in Model.Foundations)
        {
<div class="row">
    <div class="col-9">
        @foundament.Name - Section: @foundament.SectionName - Result: @foundament.Checking
    </div>
    <div>
        <a asp-controller="Foundation" asp-action="Edit" asp-route-id="@foundament.Id">
            <i class="fas fa-edit fa-fw" data-toggle="tooltip" data-placement="top" title="Edit"></i>
        </a>
    </div>
    <div>
        <a asp-controller="Foundation" asp-action="Result" asp-route-id="@foundament.Id">
            <i class="fas fa-poll fa-fw" data-toggle="tooltip" data-placement="top" title="Result"></i>
        </a>
    </div>
    <div>

            <i class="fas fa-poll fa-fw" data-toggle="tooltip" data-placement="top" title="Result"></i>

    </div>
</div>}
        <a class="btn btn-primary" asp-controller="Foundation" asp-action="Create" asp-route-id="@Model.Id">Add Foundation</a>
    </div>



    @section Scripts{
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    <script>
        $("i[title='Delete']").each(function (el) {
            $(this).click(function () {
                var r = confirm("Press a button!");
                if (r == true) {
                    txt = "You pressed OK!";
                } else {
                    txt = "You pressed Cancel!";
                }
                console.log(txt);
            })
        });
    </script>
    }
