@using StructuralDesign.Common
@model StructuralDesign.Web.ViewModels.Home.IndexViewModel

<div class="text-center">
    @{ this.ViewData["Title"] = "Home Page"; }
    <div class="bg">
        <div id="hello">
            <h1 class="display-4"> Welcome to @GlobalConstants.SystemName! </h1>
            <h2>Create your projects ... </h2>
        </div>
    </div>
    <div class="">
        <div class="text-left">We have:</div>
        <div class="row">
            <div class="text-secondary col-2">Users: @Model.CountOfRegistratedUsers</div>
            <div class="text-secondary col-2">Books: @Model.CountOfBooks</div>
            <div class="text-secondary col-2">Projects: @Model.CountOfProjects</div>
            <div class="text-secondary col-2">Sections: @Model.CountOfSections</div>
        </div>
        <div class="row"></div>
    </div>
</div>
