@model StructuralDesign.Web.ViewModels.Book.BooksListViewModel

@{
    this.ViewData["Title"] = "Library";
}

<div id="backgroundMask" class="col-8">
    <div class="row">
        <div class="col-10">
            <h3>@this.ViewData["Title"]</h3>
        </div>
        <div class="col-2 float-right">
            <a class="btn btn-primary" asp-action="Upload">Upload</a>
        </div>
    </div>


    @{int number = 1; }
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>Num</th>
                <th>Name</th>
                <th class="col-6">Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in this.Model.Books)
            {
                <tr>
                    <td>@(number++)</td>
                    <td title="@book.DescriptionPartial">@book.NamePartial</td>
                    <td title="@book.DescriptionPartial">@book.Description</td>
                    <td>
                        <a asp-action="Read" asp-route-id="@book.Id">
                            <i class="fas fa-book-open" data-toggle="tooltip" data-placement="top" title="Read"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>